.quarto-title-block .quarto-title-banner {
  background-image: url(logo_nceas.svg),
                    url(cori-hex-sticker.png),
                    linear-gradient(to top right, #5C9341, #167B62, #0C4537, #000000);
  background-size: 75px, 75px, 100% 100px;
  background-position: 2%, 90%, left;
  background-repeat: no-repeat, no-repeat;
  background-origin: content-box;
  height: 80px;
}
